<template>
    <div class="crearSol">
        <div class="container_crearsol">
            <h2>Crear nueva solicitud</h2>
            <form  >
                <label>Seleccione la fecha de Recolección</label>
                <input type="date" v-model="solicitud.fecha_recoleccion" min="now">
                <br>
                <input type="text" v-model="solicitud.comentarios_usuarios" placeholder="Comentarios de la solicitud">
                <br>
                <button type="submit" v-on:click="CreaSolicitud">Guardar</button>
            </form>
        </div>
    </div>
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
    name: "CrearSol",

    data: function(){
        return {
            
            solicitud: {
                id_usuario:0,
                fecha_recoleccion: "", 
                comentarios_usuarios:"",
                id_recolector:1,
            }
        }
    },

    methods: {
        
        CreaSolicitud: async function(){
        
            if(localStorage.getItem("token_access")=== null || localStorage.getItem("token_refresh")=== null){
                alert("no hay credenciales activas")
                //this.$emit('logOut');
                return;
            }
            
            await this.verifyToken();

            let token = localStorage.getItem("token_access");
            let userId = parseInt(jwt_decode(token).user_id.toString());
            localStorage.setItem("user id", userId); 
            this.solicitud.id_usuario=userId;
            console.log(this.solicitud);
            
            axios.post(`https://backend-proj.herokuapp.com/crearsolicitud/${userId}/`, this.solicitud, {headers:{'Authorization':`Bearer ${token}`}})
                
                .then((result) => {
                console.log(result.status)
             
                 })
                alert("Se ha registrado su solicitud exitosamente")
                this.$emit('loadHome')
            
                .catch(e => console.log(e));
        
        },
    
    
        verifyToken: function () {
            return axios.post("https://backend-proj.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
        
            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            
            .catch(() => {
                alert("No se pudo refrescar el token")
                this.$emit('logOut');
            });
            }
        },  

        
        
}
       
 
</script>

<style>
 .crearSol{
     width: 100%;
     height: 100%;
     background: url("../../src/assets/fondo2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 }
    .container_crearsol{
        border: 2px solid #33cc33;
        border-radius: 0px;
        width: 40%;
        height: 55%;
        margin: 2em 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

    }
    .container_crearsol h2{
       color: #33cc33;
       ext-align:center;
        font-family: "Century Gothic",'Lucida Sans';

    }
     .container_crearsol input{
        position: relative;
        display: inline-block;
        height: 6vh;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 0.5em auto;
        border: 1px solid #7d7e80;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-align:center;
    }
     .container_crearsol label{
        position: relative;
        display: inline-block;
        height: 6vh;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 0.5em auto;
       ext-align:center;
        font-family: "Century Gothic",'Lucida Sans';
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-align:center;
    }
     .container_crearsol button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #33CC33;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
       
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-size:1em;
    }
   
    .container_crearsol button:hover{
        color: #E5E7E9;
        background: #109e10;
        border: 1px solid #0f9738;
        cursor: pointer;

    }

    
</style>