<template>
    <div class="crear_element">
        <div class="container_crear_element">
            <h2>Crear nuevo elemento de Reciclaje</h2>
            <form  >
                <input type="text" v-model="elemento.nombre" placeholder="Nombre elemento">
                <br>
                <input type="text" v-model="elemento.descripcion" placeholder="Descripcion">
                <br>
                <input type="textarea" v-model="elemento.recomendaciones" placeholder="Recomendaciones">
                <br>
                <button type="submit" v-on:click="CrearEle">Guardar</button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "CrearEle",

    data: function(){
        return {
            elemento: {
                nombre: "",
                descripcion: "",
                recomendaciones: ""
            }
        }
    },

    methods: {
        CrearEle: function(){
            console.log(this.elemento)
            axios.post(
                "https://backend-proj.herokuapp.com/crearelemento/",
                this.elemento,
                {headers: {}}
            )
    
            .then((result) => {
                console.log(result.status)
             
            })
            alert("Elemento creado exitosamente")
            this.$emit('loadHome')
            
            .catch(e => console.log(e));
        }
    }
}
</script>

<style>

.crear_element{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        background: url("../../src/assets/fondo2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .container_crear_element {
        border: 2px solid #33cc33;
        border-radius: 10px;
        width:45%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .crear_element .container_crear_element h2{
        color: #33cc33;
    }
    .crear_element form{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .crear_element .container_crear_element input{
        height: 30px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
        border: 1px solid #283747;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .crear_element button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #33cc33;
        border: 1px solid #E5E7E9;
        border-radius: 4px;
        padding: 10px 20px;
        margin: 5px 0;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .crear_element button:hover{
        color: white;
        background: #08a308;
        border: 1px solid #E5E7E9;
        cursor: pointer;
    }
    
    
</style>