<template>
    <div v-if="loaded" class="buscar_ele">  
        <div class="container_buscar_ele">
                <form >
                   <h3>Nombre: </h3>
                    <input type="text" id="nombre_e" name="nombre_e" v-model="informacion.nombre" >
                    
                    <h3>Descripcion: </h3>
                    <input type="text" id="descripcion_e" name="descripcion_e" v-model="informacion.descripcion" >
                    
                    <h3>Recomendaciones: </h3>
                    <input type="text" id="recomendariones_e" name="id" v-model="informacion.recomendaciones">
                    
                
                <button v-on:click="modificarElemento" > Guardar Cambios </button>
                </form>
                           
        </div>
    </div>

    
    <div v-else class="buscar_ele">
        <div class="container_buscar_ele2">
            <h1>Buscar elementos de Reciclaje</h1>
                <form v-on:submit.prevent="consultaE">
                    <input type="text" id="id" name="id" placeholder="Digite el Id del Elemento">
                    <br>
                    
                    <button type="submit"> Buscar</button>      
                    <br>
            </form>
        </div>
    </div>
    
    
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {

    name: "Elemento",

    data: function(){
        return {
            loaded: false,            
            mostrar:false,
            informacion:{   
                nombre: "",
                descripcion:"",
                recomendaciones:""
            }
               
            
            }
        
     },

    methods: {
        actElemento: function(){
            this.mostrar = true;
            
        },

        modificarElemento: async function(){
          //  alert("Vamos a modificar...")
            if(localStorage.getItem("token_access")=== null || localStorage.getItem("token_refresh")=== null){
                alert("no hay credenciales activas")
                this.$emit('logOut');
                return;
                }
            await this.verifyToken();

            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();
            localStorage.setItem("user id", userId); 
            
            console.log(this.informacion);         
            axios
                .put(`https://backend-proj.herokuapp.com/actualizaelemento/${userId}/${localStorage.getItem("id_elemento")}/`,
                    
                    this.informacion,
                    {headers:{'Authorization':`Bearer ${token}`}}
                    )
                
                .then(r => console.log(r.status))
                .catch(e => console.log(e));
                       
        },        

        consultaE: async function(){
        
            if(localStorage.getItem("token_access")=== null || localStorage.getItem("token_refresh")=== null){
                alert("no hay credenciales activas")
                this.$emit('logOut');
                return;
                }
            await this.verifyToken();

            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();
            localStorage.setItem("user id", userId); 
            let id_ele = id.value;
            
            localStorage.setItem("id_elemento", id_ele);
            localStorage.setItem("user id", userId);        
            
            axios
                .get(`https://backend-proj.herokuapp.com/consultarelementos/${userId}/${id_ele}/`, {headers:{'Authorization':`Bearer ${token}`}})
                
                .then((result) => {
                    
                    this.informacion.nombre = result.data[0].nombre;
                    this.informacion.descripcion=result.data[0].descripcion;
                    this.informacion.recomendaciones=result.data[0].recomendaciones;
                    this.loaded = true;
                    console.log(result.data);      
                    console.log(result.data[0].nombre)  ;
                        
                })
             
                .catch(() => {
                    console.log(error)
                    //this.$emit('logOut')
                    alert("ERROR: Fallo en la consulta.");
                }); 
        
        },
    
    
        verifyToken: function () {
            return axios.post("https://backend-proj.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
        
            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            
            .catch(() => {
                alert("No se pudo refrescar el token")
                this.$emit('logOut');
            });
            }
        },  

        
        
}

</script>

<style>
.buscar_ele{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .container_buscar_ele {
        border: 2px solid #33cc33;
        border-radius: 0px;
        width: 25%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_buscar_ele2 {
        border: 2px solid #33cc33;
        border-radius: 10px;
        width: 25%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buscar_ele h2{
        color: #066322;
    }
   .buscar_ele .container_buscar_ele2 h1{
        color: #066322;
        font-family: "Century Gothic",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align:center;
    }
    .buscar_ele .container_buscar_ele2 form{
      width: 90%;
    }
   
    .buscar_ele input{
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
        border: 1px solid #717274;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .buscar_ele button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #33cc33;
        border: 1px solid #E5E7E9;
        border-radius: 4px;
        padding: 10px 20px;
        margin: 5px 0;
    }

    .buscar_ele button:hover{
        color: #33cc33;
        background: #E5E7E9;
        border: 1px solid #E5E7E9;
        cursor: pointer;
    }
    
    

</style>