<template>

    <div class="greetings">
      <h1>Bienvenido!</h1>
      <!-- <h2>Seleccione la operación a realizar!</h2>
       <img src="../../src/assets/logo.png" alt="logo linegreen" >  -->

    </div>

</template>


<script>

export default {
    name: "Home",

    data: function(){
        return {
            username: localStorage.getItem('username') || "none"
        }
    }
}

</script>


<style>
    .greetings{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        background: url("../../src/assets/fondo2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
       
         /*display: flex;
       justify-content: center;
        align-items: center;*/
    }

    .greetings h1{
        font-size: 50px;
        color: #283747;
        text-align:left;
        padding: 4em 3em;
        
    }
     .greetings img{
        width: 12%;
        height: auto;
        cursor: pointer;
        display:block;
        margin: 0 10em;
       
    }

    
</style>