<template>
    <div class="container">  
        <div class="box_container">
                <table>
                    <thead>
                        <th>Num Solicitud</th>
                        <th>Fecha Solicitud</th>
                        <th>Id usuario</th>
                        <th>Fecha Recoleccion</th>
                        <th>Estado Solicitud</th>
                    </thead>

                    <tbody>
                        <tr v-for= 'solicitud in solicitudes' v-bind:key="solicitud.id" >
                            <td>{{solicitud.id}}</td>
                            <td>{{solicitud.fecha_solicitud}}</td>
                            <td>{{solicitud.id_usuario}}</td>
                            <td>{{solicitud.fecha_recoleccion}}</td>
                            <td>{{solicitud.estado_sol}}</td>
                        </tr>
                    </tbody>
                </table>
                   
                <button v-on:click="confirmar" > Tomar Solicitud </button>
                
                           
        </div>
    </div>

    
    
    
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {

    name: "SinAsignar",

    data: function(){
        return {
            loaded: false,            
            mostrar:false,
            
            solicitudes:[],
            
            solicitud:{   
                id: "",
                id_usuario:0,
                fecha_solicitud:"",
                fecha_recoleccion:"",
                estado_sol:"",
            },
            
            asigsol:{   
                id_solicitud:0,
                id_usuario: "",
                fecha_recoleccion:"",
                estado_sol:"",
                id_recolector:0,
            }
               
            
            }
        
     },

    methods: {
        

        MostarSolicitudes: async function(){
        
            if(localStorage.getItem("token_access")=== null || localStorage.getItem("token_refresh")=== null){
                alert("no hay credenciales activas")
                //this.$emit('logOut');
                return;
                }
            await this.verifyToken();

            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();
            localStorage.setItem("user id", userId); 
            
            axios.get(`https://backend-proj.herokuapp.com/solregistrada/${userId}/`, {headers:{'Authorization':`Bearer ${token}`}})
                
                .then((result) => {
                    console.log(result.data);      
                    console.log(result.data[0].id)  ;

                    this.solicitudes = result.data;
                    //this.informacion.descripcion=result.data[0].descripcion;
                    //this.informacion.recomendaciones=result.data[0].recomendaciones;
                    //this.loaded = true;
                                            
                })
             
                .catch(() => {
                    console.log(error)
                    //this.$emit('logOut')
                    alert("ERROR: Fallo en la consulta.");
                }); 
        
        },
    
          confirmar: function(){
            var num_sol = prompt('Ingrese el numero de solicitud que desea tomar');
            var resultado = window.confirm("¿Está seguro de tomar esta solicitud?")
            
            if(resultado==true){
                
                let token = localStorage.getItem("token_access");
                let userId = jwt_decode(token).user_id.toString();
                localStorage.setItem("user id", userId); 
                this.asigsol=axios.get(`http://127.0.0.1:8000/consultarsol/${userId}/${num_sol}/`,{headers:{'Authorization':`Bearer ${token}`}})
                this.asigsol.estado_sol="asignada";
                this.asigsol.id_recolector=userId;
                //console.log(filtrar)
                console.log(this.asigsol)
                axios.put(`http://127.0.0.1:8000/modificarsolicitud/${userId}/${num_sol}/`, this.asigsol, {headers:{'Authorization':`Bearer ${token}`}})
                    
                    .then((result) => {
                        alert("La solicitud ha sido registrada para que usted la reciba")
                    })
                
                .catch(() => {
                    
                    alert("ERROR: Fallo en la actualizacion.");
                }) ;
            }
        
        
        },  
        verifyToken: function () {
            return axios.post("https://backend-proj.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
        
            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            
            .catch(() => {
                alert("No se pudo refrescar el token")
                this.$emit('logOut');
            });
            }
        },  

        created: function(){
             this.MostarSolicitudes()
         }
        
}

</script>

<style>
.container{
    height: 100%;
    width: 100%;
    background: url("../../src/assets/fondo2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

thead th, tfoot th {
  font-family: "Century Gothic",'Lucida Sans', cursive;
}

th {
  letter-spacing: 2px;
  font-weight: bold;
}

td {
  letter-spacing: 1px;
  border: 1px solid rgb(202, 200, 200);
}

tbody td {
  text-align: center;
}
table{
    margin: 2em 3em;
}

</style>