<template>
    <div >  
        <div >
                <table>
                    <thead>
                        <th>Num Solicitud</th>
                        <th>Fecha Solicitud</th>
                        <th>Fecha Recoleccion</th>
                        <th>Estado Solicitud</th>
                    </thead>

                    <tbody>
                        <tr v-for= 'solicitud in solicitudes' v-bind:key="solicitud.id" >
                            <td>{{solicitud.id}}</td>
                            <td>{{solicitud.fecha_solicitud}}</td>
                            <td>{{solicitud.fecha_recoleccion}}</td>
                            <td>{{solicitud.estado_sol}}</td>
                        </tr>
                    </tbody>
                </table>
                   
                <button v-on:click="eliminar" > Cancelar solicitud </button>
                
                           
        </div>
    </div>

    
    
    
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {

    name: "SolUsuario",

    data: function(){
        return {
            loaded: false,
            mostrar:false,

            solicitudes:[],
            
            solicitud:{
                id: "",
                fecha_solicitud:"",
                fecha_recoleccion:"",
                estado_sol:""
            }
            
               
            
            }
        
     },

    methods: {
        

        MisSolicitudes: async function(){
        
            if(localStorage.getItem("token_access")=== null || localStorage.getItem("token_refresh")=== null){
                alert("no hay credenciales activas")
                //this.$emit('logOut');
                return;
                }
            await this.verifyToken();

            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();
            localStorage.setItem("user id", userId); 
            
            axios.get(`https://backend-proj.herokuapp.com/solporusuario/${userId}/`, {headers:{'Authorization':`Bearer ${token}`}})
                
                .then((result) => {
                    console.log(result.data);      
                    console.log(result.data[0].id)  ;

                    this.solicitudes = result.data;
                    //this.informacion.descripcion=result.data[0].descripcion;
                    //this.informacion.recomendaciones=result.data[0].recomendaciones;
                    //this.loaded = true;
                                            
                })
             
                .catch(() => {
                    console.log(error)
                    //this.$emit('logOut')
                    alert("ERROR: Fallo en la consulta.");
                }); 
        
        },
        
      eliminar: function(){
            var num_sol = prompt('Ingrese el numero de solicitud que desea cancelar');
            var resultado = window.confirm("¿Está seguro de cancelar esta solicitud?")
            
            if(resultado==true){
                
                let token = localStorage.getItem("token_access");
                let userId = jwt_decode(token).user_id.toString();
                localStorage.setItem("user id", userId); 
                axios.delete(`https://linegreen-backend.herokuapp.com/eliminasolicitud/${userId}/${num_sol}/`, {headers:{'Authorization':`Bearer ${token}`}})
                    
                    .then((result) => {
                        alert("Su solicitud se ha cancelado")
                    })
                
                .catch(() => {
                    console.log(error)
                    alert("ERROR: Fallo en la actualizacion.");
                }) ;
            }
        
        
        },  
    
        verifyToken: function () {
            return axios.post("https://backend-proj.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
        
            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            
            .catch(() => {
                alert("No se pudo refrescar el token")
                this.$emit('logOut');
            });
            }
    },
          
        
        created: function(){
             this.MisSolicitudes()
         },
        
}

</script>

<style>


</style>