<template>
  <div id="app" class="app">
    
    <div class="header">
      
      
      
      <nav>
        <button v-if="is_auth" v-on:click="loadHome"> Ir al Inicio </button>
        <button v-if="is_auth" v-on:click="consultarElemento"> Consultar elemento </button>
        <button v-if="is_auth" v-on:click="CrearEle"> Crear elemento </button>
        <button v-if="is_auth" v-on:click="SinAsig"> Sin asignar </button>
        <!-- <button v-if="is_auth" v-on:click="MisSolicitudes"> Mis Solicitudes </button>  -->  
        <button v-if="is_auth" v-on:click="NuevaSolicitud"> Crear Solicitud </button>
        <button v-if="is_auth" v-on:click="logOut" > Cerrar Sesión </button>
       <!-- <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button> -->
        
        
      </nav>
    </div>

  <div class="main-component">
    
    <router-view
      v-on:completedLogIn="completedLogIn"
      v-on:completedSignUp="completedSignUp"
      v-on:logOut="logOut"
    >
    </router-view>
  </div>
  <div class="footer"></div>
 
</div>
</template>

<script>
  export default {
  name: 'App',

  data: function(){
    return{
      is_auth: false
    }
  },

  components:{

  },

  methods:{
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false)
        this.$router.push({ name: "logIn" });
      else
        this.$router.push({ name: "home" });
      },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    loadHome: function() {
      this.$router.push({ name: "home" });
    },

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },

    completedLogIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      this.verifyAuth();
    },

    completedSignUp: function(data) {
      alert("Se ha registrado correctamente en la plataforma");
      this.completedLogIn(data);
      this.$router.push({name: "Home"})
      },

    consultarElemento: function() {
        this.$router.push({name: "Elemento"})
    },

    CrearEle: function(){
        this.$router.push({name: "CrearEle"})
    },

    SinAsig: function(){
      this.$router.push({name: "SinAsignar"})
    },

    MisSolicitudes: function(){
      this.$router.push({name: "SolUsuario"})
    },

    NuevaSolicitud: function(){
      this.$router.push({name: "CrearSol"})
    },
},

  created: function(){
    this.verifyAuth()
  }
}

</script>

<style>

  body{
    margin: 0 0 0 0;
  }

  .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh;
    background-color:  #33cc33 ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header h1{
    width: 20%;
    text-align: center;
   
  }

  .header nav {
    height: 100%;
    width: 25%;
    margin: 0.5em;
    display: flex;
    /*justify-content: space-between;
    align-items: center;   */
    font-size: 20px;
  }

  .header nav button{
    color: #E5E7E9;
    background: #33cc33;
    border: 1px solid #E5E7E9;
    border-radius: 4px;
    padding: 10px 20px;
    width:8em;
    cursor: pointer;
    margin: 0.2em;
  }
  
  .header nav button:hover{
    color: #054d20;
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
  }
  
  .main-component{
    height: 85vh;
    margin: 0%;
    padding: 0%;
    background: #f8fcfc ;
  }
  
  
  .footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3vh;
    min-height:20px;
   
    color: #E5E7E9;
    align-content: left;
    }
 
  
</style>

